*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f9f9;
    font-family: "Work Sans", sans-serif;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin: 20px;
}

img{
    width: 100px;
}

h1{
    font-family: "Fjalla One", sans-serif;
}

form{
    background-color: #ffffff;

    border-radius: 10px;

    padding: 15px;
}

fieldset{
    border: 1px solid #cccccc;
    border-radius: 5px;

    padding: 15px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}
